################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
.vs
packages
PublishScripts
node_modules

/Olmo/bin
/Olmo/obj